.section {
	padding: 30px 0px;
}
.header {
	line-height: 1.5;
	font-size: 20px;
	margin: 60px auto ;
}
span {
	display: block;
}
.b {
	text
}
.form {
	border: 5px solid #2727d9;
	padding: 30px 20px;
}
.form input {
	margin-bottom: 12px;
}
.form-header, .section-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn {
	background-color: #2727d9 ;
	margin: 10px auto;
}
.feature {
	margin: 60px 0px
}
p {
	margin-top: 20px;
}
.video {
	margin-bottom: 60px;
}
.feature-box {
	height: 160px;
}
